/*
* @Author: Administrator
* @Date:   2018-09-21 21:10:53
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-27 17:33:35
*/
html{
	font: microsoft-yahei;
}

.left{
	float: left;
}
.right{
	float: right;
}
.rightSpace{
	margin-right: 30px;
}
/* .rightSpace2{
	margin-right: 100px;
} */
.clearfix{
	clear: both;
}

